@import "../../Common/common.css";

.star
{
    position: absolute;
    width: 0;height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 70px solid yellow;
    transform:rotate(35deg);
}
.star1
{
    border-bottom: 80px solid yellow;
    top:-9vh;
    left:11vh;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;

}
.star2
{
    position: absolute;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid yellow;
    border-left: 100px solid transparent;
    transform: rotate(-35deg);

}