@keyframes sunred {
    from { top: 10vh; left: 20vw; background-color: yellow; }
    to { top: 75vh; left: 90vw; background-color: orange; }
}

@keyframes dark {
    from { }
    to { background-color: black; }
}

@keyframes lailatov {
    from { }
    to { color: silver; }
}