@import "../../Common/common.css";

.container {padding: 2vh 2vw;
            box-shadow: 0.5vh 0.5vh 1.5vh 0 rgba(0,0,0,0.2);
            font-size: 3vh;}
.result {position: relative; padding: 1vh 1vw;}
.container > select {outline: none; margin: 0 1vw; font-size: 2.5vh;}